<html>
<head>
<title>sinatr-what</title>
</head>
<body>
<h1><%= yield %> rendered an erb template. More info <a href="http://ruby-doc.org/stdlib-1.9.3/libdoc/erb/rdoc/ERB.html">here</a>.</h1>
</body>
</html>
