!!!
%html
    %head
        %title sinatr-what
    %body
        %h1 
            =yield 
            rendered an haml template. More info 
            =succeed '.' do
                %a(href="http://haml-lang.com") here

